nav.top-0.flex.fixed.w-full.flex-wrap.bg-white.px-4.py-3.shadow
  div.container.mx-auto.ml-10
    div.flex.items-center.justify-between
      div.flex.items-center
        a.space-x-3(href='/' class="space-x-1 py-1 pl-4")
          img(src="../images/laracamplogo.svg" alt="logo")
        div.ml-10.space-x-7
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#program') Program
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#mentor') Mentor
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#pricing') Pricing
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#business') Business
      div.text-black.text-right.space-x-5
          if data
            a#navbar3.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(href='/common/contentHeader')= data.username
            button#navbar4.bg-red-500.text-xs.text-white.w-28.h5.py-2.px-4.rounded-full(type='button' onclick="buttonNavbar4()") Logout
          else
            button#navbar1.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(type='button', data-te-toggle='modal', data-te-target='#signInModal', data-te-ripple-init='', data-te-ripple-color='light') Sign in
            button#navbar2.bg-firstPurple.text-xs.text-white.w-28.h5.py-2.px-4.rounded-full(type='button', data-te-toggle='modal', data-te-target='#signUpModal', data-te-ripple-init='', data-te-ripple-color='light') Sign Up 


#signInModal.fixed.left-0.top-0.hidden.h-full.w-full.overflow-y-auto.overflow-x-hidden.outline-none(data-te-modal-init='', class='z-[1055]', tabindex='-1', aria-labelledby='signInModalLabel', aria-hidden='true')
  .pointer-events-none.relative.w-auto.opacity-0.transition-all.duration-300.ease-in-out(data-te-modal-dialog-ref='', class='translate-y-[-50px] min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]')
    .pointer-events-auto.relative.flex.w-full.flex-col.rounded-md.border-none.bg-white.bg-clip-padding.text-current.shadow-lg.outline-none(class='min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] dark:bg-neutral-600')
      .flex.flex-shrink-0.items-center.justify-between.rounded-t-md.border-b-2.border-neutral-100.border-opacity-100.p-4(class='dark:border-opacity-50')
        // Modal title
        h5#signInModalLabel.text-xl.font-medium.leading-normal.text-neutral-800(class='dark:text-neutral-200') Sign In
        // Close button
        button.box-content.rounded-none.border-none(type='button', class='hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none', data-te-modal-dismiss='', aria-label='Close')
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='white')
            path(stroke-linecap='round', stroke-linejoin='round', d='M6 18L18 6M6 6l12 12')
      // Modal body
      .relative.flex-auto.p-4(data-te-modal-body-ref='')
        form(action="/login" method="post")
          div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="text-white bg-transparent focus:outline-none border-none" type="text" name="username" id="username" placeholder="Username")
          div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="text-white bg-transparent focus:outline-none border-none" type="password" name="password" id="password" placeholder="Password")
          button#buttonsignIn(type="submit" data-te-modal-dismiss="" class="block w-full bg-secondPurple mt-4 py-2 rounded-xl text-firstPurple font-semibold mb-2") Sign In

#signUpModal.fixed.left-0.top-0.hidden.h-full.w-full.overflow-y-auto.overflow-x-hidden.outline-none(data-te-modal-init='', class='z-[1055]', tabindex='-1', aria-labelledby='signUpModalLabel', aria-hidden='true')
  .pointer-events-none.relative.w-auto.opacity-0.transition-all.duration-300.ease-in-out(data-te-modal-dialog-ref='', class='translate-y-[-50px] min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]')
    .pointer-events-auto.relative.flex.w-full.flex-col.rounded-md.border-none.bg-white.bg-clip-padding.text-current.shadow-lg.outline-none(class='min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] dark:bg-neutral-600')
      .flex.flex-shrink-0.items-center.justify-between.rounded-t-md.border-b-2.border-neutral-100.border-opacity-100.p-4(class='dark:border-opacity-50')
        // Modal title
        h5#signUpModalLabel.text-xl.font-medium.leading-normal.text-neutral-800(class='dark:text-neutral-200') Sign Up
        // Close button
        button.box-content.rounded-none.border-none(type='button', class='hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none', data-te-modal-dismiss='', aria-label='Close')
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='white')
            path(stroke-linecap='round', stroke-linejoin='round', d='M6 18L18 6M6 6l12 12')
      // Modal body
      .relative.flex-auto.p-4(data-te-modal-body-ref='')
        form
          div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="text-white bg-transparent focus:outline-none border-none" type="text" name="username" id="username" placeholder="Username")
          div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="text-white bg-transparent focus:outline-none border-none" type="email" name="email" id="email" placeholder="email")
          div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="text-white bg-transparent focus:outline-none border-none" type="password" name="password" id="password" placeholder="Password")
      // Modal footer
      .flex.flex-shrink-0.flex-wrap.items-center.justify-end.rounded-b-md.border-t-2.border-neutral-100.border-opacity-100.p-4(class='dark:border-opacity-50')
        button#buttonSignUp(type="submit" data-te-modal-dismiss="" class="block w-full bg-violet-900 mt-4 py-2 rounded-xl text-white font-semibold mb-2") Sign Up

script.

  //code untuk fungsi button ketika di click
  const buttonSignUp = document.getElementById('buttonSignUp');
  const buttonsignIn = document.getElementById('buttonsignIn');

  buttonsignIn.addEventListener('click', () => {

    const usernameInput = document.querySelector('#signInForm input[name="username"]');
    const passwordInput = document.querySelector('#signInForm input[name="password"]');

    const username = usernameInput.value;
    const password = passwordInput.value;

    const encodedPassword = btoa(password);

    const signInData = {
      username: username,
      password: encodedPassword
    };
 
    fetch('/signin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(signInData)
    })
    .then(response => {
      if (response.ok) {
        // Sign-in successful
        window.location.href = '/signin/success';
        const namenya = usernameInput.value;
        const navbar1Button = document.getElementById('navbar1');
        navbar1Button.textContent = namenya;

        const signInModal = document.getElementById('signInModal');
        signInModal.setAttribute('aria-hidden', 'true');
        signInModal.classList.add('hidden');
        signInModal.classList.remove('pointer-events-auto');

        const navbar2Button = document.getElementById('navbar2');
        navbar2Button.style.display = 'none';

      } else {
        //sign-in failure
        console.error('Sign-in failed:', response.statusText);
      }
    })
    .catch(error => {
      console.error('Sign-in failed:', error);
    });
  });

  buttonSignUp.addEventListener('click', () => {
    const usernameInput = document.querySelector('#signUpModal input[name="username"]');
    const emailInput = document.querySelector('#signUpModal input[name="email"]');
    const passwordInput = document.querySelector('#signUpModal input[name="password"]');

    const username = usernameInput.value;
    const email = emailInput.value;
    const password = passwordInput.value;

    const encodedPassword = btoa(password);

    const signUpData = {
      username: username,
      email: email,
      password: encodedPassword
    };

    //text pada button Sign In akan berubah
    const newTextNavbar1 = usernameInput.value; //const newTextNavbar1 = "lanjutan 2.2";
    const navbar1Button = document.getElementById('navbar1');
    navbar1Button.textContent = newTextNavbar1;

    //- //navbar 2 jadi hilang
    //- const navbar2Button = document.getElementById('navbar2');
    //- navbar2Button.style.display = 'none';

    //navbar 2 jadi button Sign Out
    const newTextNavbar2 = "Sign Out";
    const navbar2Button = document.getElementById('navbar2');
    navbar2Button.textContent = newTextNavbar2;
    navbar2Button.style.backgroundColor = 'red';

    fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(signUpData)
    })
    .then(response => {
      if (response.ok) {
        // Sign-up successful and Hide the modal after successful sign-up
        window.location.href = '/signup/success';
        const signUpModal = document.getElementById('signUpModal');
        signUpModal.setAttribute('aria-hidden', 'true');
        signUpModal.classList.add('hidden');
        signUpModal.classList.remove('pointer-events-auto');

      } else {
        //sign-up failure
        console.error('Sign-up failed:', response.statusText);
      }
    })
    .catch(error => {
      console.error('Sign-up failed:', error);
    });
  });

  //cek fungsi click navbar 4 (logout)
  function buttonNavbar4(){
      fetch('/logout', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        if (response.ok) {
          location.reload();
        } else {
          console.error('Logout gagal:', response.statusText);
        }
      })
      .catch(error => {
        console.error('Logout gagal:', error);
      });
  }