nav#sidebar.side.bg-white.h-screen.w-64.absolute.top-0.left-0.shadow   
  ul.py-4.px-2
    li.py-2.pl-4
      img(src='../../images/laracamplogo.svg' alt='logo')
    li.py-2.pl-4.border-t.border-neutral-200
      a(class='block text-firstPurple' href='/common/contentHeader') Content Header
    li.py-2.pl-4.border-t.border-neutral-200
      a(class='block text-firstPurple' href='/common/support') Support
    li.py-2.pl-4.border-t.border-neutral-200
      a(class='block text-firstPurple' href='/common/tree') Tree
