div(class="h-screen md:flex")
    div(class="relative overflow-hidden md:flex w-3/4 bg-thirdPurple i justify-around items-center hidden")
        img(src="images/BannerLogin.png" alt="Banner")

    div(class="flex justify-left px-8 items-center bg-white")
        form(class="bg-white")
            img(src="images/laracamplogo.svg" alt="logo")
            h1(class="font-semibold text-fourthPurple text-xl mt-8") Start Today
            p(class="text-sm font-normal text-grey mb-6") Because tomorrow become never
            div(class="flex items-center border-2 py-2 px-3 rounded-xl mb-4")
                input(class="outline-none border-none" type="text" name="" id="" placeholder="Username")
            div(class="flex items-center border-2 py-2 px-3 rounded-xl mb-4")
                input(class="outline-none border-none" type="email" name="" id="" placeholder="Email Address")
            div(class="flex items-center border-2 py-2 px-3 rounded-xl")
                input(class="outline-none border-none" type="password" name="" id="" placeholder="Password")
            button(type="submit" class="block w-full bg-firstPurple mt-4 py-2 rounded-xl text-white font-semibold mb-2") Sign Up
            span(class="text-sm ml-2 hover:text-firstPurple cursor-pointer") Already have an account? Sign In


div(class="h-screen md:flex mt-10")
    div(class="relative overflow-hidden md:flex w-3/4 bg-thirdPurple i justify-around items-center hidden")
        img(src="images/BannerLogin.png" alt="Banner")

    div(class="flex justify-left px-8 items-center bg-white")
        form(class="bg-white")
            img(src="images/laracamplogo.svg" alt="logo")
            div(class="flex items-center border-2 py-2 px-3 mt-4 rounded-xl mb-4")
                input(class="outline-none border-none" type="text" name="" id="" placeholder="Username")
            div(class="flex items-center border-2 py-2 px-3 rounded-xl")
                input(class="outline-none border-none" type="password" name="" id="" placeholder="Password")
            button(type="submit" class="block w-full bg-secondPurple mt-4 py-2 rounded-xl text-firstPurple font-semibold mb-2") Sign In
            span(class="text-sm ml-2 hover:text-firstPurple cursor-pointer") Don’t have an account? Sign Up
