extends layout

block content

  include landingPages/section1
  include landingPages/section2
  include landingPages/section3
  include landingPages/section4
  include landingPages/section5
  block footer