doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= title
    block style
      include style
    block script
      include script
    
  body.font-poppins 
    block navbar
      include navbar

    block content
    
    block footer
      include footer
    script(src='/tw-elements/dist/js/tw-elements.umd.min.js', type='text/javascript')
