nav.top-0.flex.fixed.w-full.flex-wrap.bg-white.px-4.py-3.shadow 
    div.container.mx-auto.ml-10
      div.flex.items-center.justify-between
        div.flex.items-center
          a(href='#banner')
            img(src="images/logo.png" width="30px")
          div.text-black.text-2xl.font-medium laracamp
          div.ml-10
            a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#program') Program
            a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#mentor') Mentor
            a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#pricing') Pricing
            a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#business') Business
        div.text-black.text-right
            button.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.ml-20.py-2.px-4.rounded-full Sign in
            button.bg-firstPurple.text-xs.text-white.w-28.h5.ml-6.py-2.px-4.rounded-full Sign up

