nav.top-0.flex.w-full.flex-wrap.bg-white-500.px-4.py-3.shadow 
    div.container.mx-auto
      div.flex.items-center.justify-between
        div.flex.items-center
          div.text-black.text-2xl laracamp
          div.ml-10
            a(class='mx-2 text-black hover:text-violet-600 active:text-violet-700' href='#') Program
            a(class='mx-2 text-black hover:text-violet-600 active:text-violet-700' href='#') Mentor
            a(class='mx-2 text-black hover:text-violet-600 active:text-violet-700' href='#') Pricing
            a(class='mx-2 text-black hover:text-violet-600 active:text-violet-700' href='#') Business
        div.flex.items-right.text-black Halo, Wahyu