nav.top-0.flex.fixed.w-full.bg-white.px-4.py-3.shadow-sm
  div.container.mx-auto
    div.w-full.flex.flex-row-reverse
      button.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(type='button')= data.username

  