nav.top-0.flex.fixed.w-full.flex-wrap.bg-white.px-4.py-3.shadow
  div.container.mx-auto.ml-10
    div.flex.items-center.justify-between
      div.flex.items-center
        a.space-x-3(href='#banner' class="space-x-1 py-1 pl-4")
          img(src="images/laracamplogo.svg" alt="logo")
        div.ml-10.space-x-7
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#program') Program
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#mentor') Mentor
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#pricing') Pricing
          a(class='mx-2 text-black hover:text-firstPurple active:text-firstPurple' href='#business') Business
      div.text-black.text-right.space-x-5
          button.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(type='button', data-te-toggle='modal', data-te-target='#signInModal', data-te-ripple-init='', data-te-ripple-color='light') Sign in
          button.bg-firstPurple.text-xs.text-white.w-28.h5.py-2.px-4.rounded-full(type='button', data-modal-toggle='signUpModal') Sign up
  //- #signInModal.fixed.inset-0.bg-black.bg-opacity-50.flex.items-center.justify-center.hidden
  //-   div.bg-white.p-4.item-center
  //-     div(class="flex justify-left px-8 items-center bg-white")
  //-     form(class="bg-white")
  //-         img(src="images/laracamplogo.svg" alt="logo")
  //-         div(class="flex items-center border-2 py-2 px-3 mt-4 rounded-xl mb-4")
  //-             input(class="outline-none border-none" type="text" name="username" id="username" placeholder="Username")
  //-         div(class="flex items-center border-2 py-2 px-3 rounded-xl")
  //-             input(class="outline-none border-none" type="password" name="password" id="password" placeholder="Password")
  //-         button#signed(type="submit" class="block w-full bg-violet-900 mt-4 py-2 rounded-xl text-white font-semibold mb-2") Sign In
  //-         span#jumptoup(class="text-sm ml-2 hover:text-violet-600 cursor-pointer") Don’t have an account? Sign Up.
  //-     button#closeSignInBtn.bg-violet-600.text-xs.text-white.w-28.h-6.ml-6.py-2.px-4.rounded-full(type='button') Close
  #signUpModal.fixed.inset-0.bg-black.bg-opacity-50.flex.items-center.justify-center.hidden
    div.bg-white.p-4
      div(class="flex justify-left px-8 items-center bg-white")
      form(class="bg-white")
          img(src="images/laracamplogo.svg" alt="logo")
          h1(class="font-semibold text-xl mt-8") Start Today
          p(class="text-sm font-normal text-gray-600 mb-6") Because tomorrow becomes never
          div(class="flex items-center border-2 py-2 px-3 rounded-xl mb-4")
              input(class="outline-none border-none" type="text" name="username" id="username" placeholder="Username")
          div(class="flex items-center border-2 py-2 px-3 rounded-xl mb-4")
              input(class="outline-none border-none" type="email" name="email" id="email" placeholder="Email Address")
          div(class="flex items-center border-2 py-2 px-3 rounded-xl")
              input(class="outline-none border-none" type="password" name="password" id="password" placeholder="Password")
          button#upped(type="submit" class="block w-full bg-violet-900 mt-4 py-2 rounded-xl text-white font-semibold mb-2") Sign Up
          span#jumptoin(class="text-sm ml-2 hover:text-violet-600 cursor-pointer") Already have an account? Sign In
      button#closeSignUpBtn.bg-violet-600.text-xs.text-white.w-28.h-6.ml-6.py-2.px-4.rounded-full(type='button') Close
  //- // Button trigger modal
  //- button.inline-block.rounded.bg-primary.px-6.pb-2.text-xs.font-medium.uppercase.leading-normal.text-white.transition.duration-150.ease-in-out(type='button', class='pt-2.5 shadow-[0_4px_9px_-4px_#3b71ca] hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]', data-te-toggle='modal', data-te-target='#exampleModal', data-te-ripple-init='', data-te-ripple-color='light')
  //-   | Launch demo modal
  //- // Modal
#signInModal.fixed.left-0.top-0.hidden.h-full.w-full.overflow-y-auto.overflow-x-hidden.outline-none(data-te-modal-init='', class='z-[1055]', tabindex='-1', aria-labelledby='signInModalLabel', aria-hidden='true')
  .pointer-events-none.relative.w-auto.opacity-0.transition-all.duration-300.ease-in-out(data-te-modal-dialog-ref='', class='translate-y-[-50px] min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]')
    .pointer-events-auto.relative.flex.w-full.flex-col.rounded-md.border-none.bg-white.bg-clip-padding.text-current.shadow-lg.outline-none(class='min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] dark:bg-neutral-600')
      .flex.flex-shrink-0.items-center.justify-between.rounded-t-md.border-b-2.border-neutral-100.border-opacity-100.p-4(class='dark:border-opacity-50')
        // Modal title
        h5#signInModalLabel.text-xl.font-medium.leading-normal.text-neutral-800(class='dark:text-neutral-200')
          | Modal title
        // Close button
        button.box-content.rounded-none.border-none(type='button', class='hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none', data-te-modal-dismiss='', aria-label='Close')
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='M6 18L18 6M6 6l12 12')
      // Modal body
      .relative.flex-auto.p-4(data-te-modal-body-ref='')
        form(class="bg-white")
          img(src="images/laracamplogo.svg" alt="logo")
          div(class="flex items-center border-2 py-2 px-3 mt-4 rounded-xl mb-4")
              input(class="outline-none border-none" type="text" name="username" id="username" placeholder="Username")
          div(class="flex items-center border-2 py-2 px-3 rounded-xl")
              input(class="outline-none border-none" type="password" name="password" id="password" placeholder="Password")
          button#signed(type="submit" class="block w-full bg-violet-900 mt-4 py-2 rounded-xl text-white font-semibold mb-2") Sign In
          span#jumptoup(class="text-sm ml-2 hover:text-violet-600 cursor-pointer") Don’t have an account? Sign Up.
      // Modal footer
      .flex.flex-shrink-0.flex-wrap.items-center.justify-end.rounded-b-md.border-t-2.border-neutral-100.border-opacity-100.p-4(class='dark:border-opacity-50')
        button.inline-block.rounded.bg-primary-100.px-6.pb-2.text-xs.font-medium.uppercase.leading-normal.text-primary-700.transition.duration-150.ease-in-out(type='button', class='pt-2.5 hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200', data-te-modal-dismiss='', data-te-ripple-init='', data-te-ripple-color='light')
          | Close
        button.ml-1.inline-block.rounded.bg-primary.px-6.pb-2.text-xs.font-medium.uppercase.leading-normal.text-white.transition.duration-150.ease-in-out(type='button', class='pt-2.5 shadow-[0_4px_9px_-4px_#3b71ca] hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]', data-te-ripple-init='', data-te-ripple-color='light')
          | Save changes



script.
  const signInModalBtn = document.querySelector('[data-modal-toggle="signInModal"]');
  const signUpModalBtn = document.querySelector('[data-modal-toggle="signUpModal"]');
  const signInModal = document.getElementById('signInModal');
  const signUpModal = document.getElementById('signUpModal');
  const closeSignInBtn = document.getElementById('closeSignInBtn');
  const closeSignUpBtn = document.getElementById('closeSignUpBtn');
  const signed = document.getElementById('signed');
  const upped = document.getElementById('upped');
  const jumptoup = document.getElementById('jumptoup');
  const jumptoin = document.getElementById('jumptoin');

  signInModalBtn.addEventListener('click', () => {
    signInModal.classList.remove('hidden');
  });

  signUpModalBtn.addEventListener('click', () => {
    signUpModal.classList.remove('hidden');
  });

  closeSignInBtn.addEventListener('click', () => {
    signInModal.classList.add('hidden');
  });

  closeSignUpBtn.addEventListener('click', () => {
    signUpModal.classList.add('hidden');
  });

  upped.addEventListener('click', () => {
    signInModalBtn.click();
  });

  //- signed.addEventListener('click', () => {
  //-   fetch('/getall')
  //-     .then(response => response.json())
  //-     .then(data => {
  //-       console.log(data); // Do something with the data received from the server
  //-     })
  //-     .catch(error => {
  //-       console.error(error);
  //-     });
  //- });

  jumptoup.addEventListener('click', () => {
    signInModal.classList.add('hidden');
    signUpModal.classList.remove('hidden');
  });

  jumptoin.addEventListener('click', () => {
    signUpModal.classList.add('hidden');
    signInModal.classList.remove('hidden');
  });

  upped.addEventListener('click', () => {
  const usernameInput = document.querySelector('#signUpModal input[name="username"]');
  const emailInput = document.querySelector('#signUpModal input[name="email"]');
  const passwordInput = document.querySelector('#signUpModal input[name="password"]');


  const username = usernameInput.value;
  const email = emailInput.value;
  const password = passwordInput.value;

  const encodedPassword = btoa(password);

  const signUpData = {
    username: username,
    email: email,
    password: encodedPassword
  };

  fetch('/signup', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(signUpData)
  })
    .then(response => {
      if (response.ok) {
        // Sign-up successful, redirect to success page or any other desired route
        window.location.href = '/signup/success';
      } else {
        // Handle sign-up failure
        console.error('Sign-up failed:', response.statusText);
      }
    })
    .catch(error => {
      console.error('Sign-up failed:', error);
    });
  });

  signed.addEventListener('click', async () => {
    try {
      const usernameInput = document.querySelector('#signInModal input[name="username"]');
      const passwordInput = document.querySelector('#signInModal input[name="password"]');

      const username = usernameInput.value;
      const password = passwordInput.value;

      const encodedPassword = btoa(password);

      const loginData = {
        username: username,
        password: encodedPassword
      };

      const response = await fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(loginData)
      });

      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      // Assuming your server sends a response indicating successful login
      const data = await response.json();
      console.log('Login successful:', data);
      // Do something after successful login, like redirecting to a dashboard page
    } catch (error) {
      console.error('Error:', error);
      // Handle login failure, show an error message, etc.
    }
  });
