  div.container.mx-auto.mt-10.mb-10
    div(class="md:flex")
      div(class="p-20 text-align-left")
        div(class="text-green-500 font-semibold") LEARN FROM EXPERT apa aja
          h1.text-3xl.font-bold.my-1 Start Your Developer
          h1.text-3xl.font-bold.my-1 Journey Today
          p.text-neutral-500 Lorem ipsum dolor sit amet. Quo beatae voluptas qui 
          p.text-neutral-500 delectus quia rem sunt minima eos omnis doloremque est fuga perspiciatis.
      div(class="md:shrink-0")
        img(class="h-48 w-full object-cover md:h-full md:w-80" src="https://img.freepik.com/free-photo/leaf-nature-backgrounds-pattern-illustration-plant-backdrop-design-abstract-vibrant-green-nature-wallpaper-illustration-generative-ai_188544-12680.jpg?w=1060&t=st=1688457838~exp=1688458438~hmac=88387d19a3ec2cae715ec3b2db08ac4b4405731ea0f66227bd00316fa026a435")
  
  //-SPONSOR
  div.container.mx-auto.bg-secondary.px-4.py-3