div.container.mx-auto.mt-10
  //- table(id="playertable" class='border-collapse text-justify rounded-lg shadow-md w-2/3 mx-auto')
  table(id="playerList" class="border-collapse text-justify rounded-lg shadow-md w-2/3 mx-auto")
    thead.bg-secondPurple
      tr.shadow-sm.text-xs.text-fourthPurple
        th.py-2.px-4 PLAYER
        th.py-2.px-4 SALARY
        th.py-2.px-4 CONTRACT
        th.py-2.px-4 STATUS
    tbody
      each i in resultdata
        tr.shadow-sm.text-xs.text-fourthPurple
          th.py-2.px-4=i.name
          th.py-2.px-4=i.salary
          th.py-2.px-4=i.contract
          th.py-2.px-4=i.status
    
