div.container.mx-auto.mt-10
  //- table(id="playertable" class='border-collapse text-justify rounded-lg shadow-md w-2/3 mx-auto')
  table(id="example" class="table table-striped" style="width:100%")
    thead.bg-secondPurple
      tr.shadow-sm.text-xs.text-fourthPurple
        th.py-2.px-4 PLAYER
        th.py-2.px-4 SALARY
        th.py-2.px-4 CONTRACT
        th.py-2.px-4 STATUS
    tbody
      tr.shadow-sm.text-xs
        td.py-2.px-4 player name
        td.py-2.px-4 player salary
        td.py-2.px-4 player contract
        td.py-2.px-4 player status
      tr.shadow-sm.text-xs
        td.py-2.px-4 player name
        td.py-2.px-4 player salary
        td.py-2.px-4 player contract
        td.py-2.px-4 player status
      tr.shadow-sm.text-xs
        td.py-2.px-4 player name
        td.py-2.px-4 player salary
        td.py-2.px-4 player contract
        td.py-2.px-4 player status
      tr.shadow-sm.text-xs
        td.py-2.px-4 player name
        td.py-2.px-4 player salary
        td.py-2.px-4 player contract
        td.py-2.px-4 player status

script.
  new DataTable('#example');