div.container.mx-auto.mt-50
  .grid.grid-cols-2
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 162px;")
          p.text-xs.font-bold.mt-10.text-green-500 LEARN FROM EXPERT
          br
          p
            span.text-black-500.text-4xl Start your 
            span.text-purple-500.text-4xl Developer
          p
            span.text-purple-500.text-4xl Journey 
            span.text-black-500.text-4xl Today
          br
          p
            span.text-black-500.font-thin.text-xs Our bootcamp is helping junior developers who 
          p
            span.text-black-500.font-thin.text-xs are really passionate in programming
          br
          button.bg-purple-500.text-white.font-bold.w-40.h-10.py-2.px-4.rounded-full Get Started
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: px;")
          img(src="images/banner.png", alt="Banner", style="width: 610px; height: 459px;")
