div#banner.container.mx-auto.mt-24
  .grid.grid-cols-2
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 162px;")
          p.text-xs.font-bold.mt-10.text-green.fonst-semibold LEARN FROM EXPERTS
          br
          p
            span.text-fourthPurple.text-4xl.font-semibold Start your 
            span.text-firstPurple.text-4xl.font-semibold Developer
          p
            span.text-firstPurple.text-4xl.font-semibold Journey 
            span.text-fourthPurple.text-4xl.font-semibold Today
          br
          p
            span.text-grey.font-thin.text-xs Our bootcamp is helping junior developers who 
          p
            span.text-grey.font-thin.text-xs are really passionate in programming
          br
          button.bg-firstPurple.text-white.font-medium.w-40.h-10.py-2.px-4.rounded-full Get Started
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: px;")
          img(src="images/banner.png", alt="Banner", style="width: 610px; height: 459px;")
