div.container.mx-auto.mt-8
  .flex.items-left.flex-col.text-left
    p.text-xs.font-bold.mt-10.text-green-500 LEARN FROM EXPERT
    br
    p
      span.text-black-500.text-4xl Start your 
      span.text-purple-500.text-4xl Developer
    p
      span.text-purple-500.text-4xl Journey 
      span.text-black-500.text-4xl Today
    br
    p
      span.text-black-500.font-thin.text-xs Our bootcamp is helping junior developers who 
    p
      span.text-black-500.font-thin.text-xs
