div#pricing.container.mx-auto.px-4.py-12.mt-12.bg-thirdPurple
  div.flex.items-stretch.justify-center
    div.grid.grid-cols-5.gap-2
    
      div.col-span-2.p-5.mb-5.mt-5.text-align-left
        p.text-green.mt-16 GOOD INVESTMENT
        h1.text-2xl.font-bold.text-white.my-2 Start Your Journey
        p.text-white.mt-8 We do have a couple of plans that might fit for you. Kindly download our full syallbus below.
        button.bg-green.text-white.w-40.h-10.py-2.px-4.mt-8.rounded-full View Syllabus

      div.p-5.border.border-neutral-200.shadow.rounded-3xl.mb-5.mt-5.text-align-left.bg-white
        p.text-green.font-bold.text-center GILA BELAJAR
        h1.text-5xl.font-bold.my-2.text-fourthPurple.text-center $280
        p.text-fourthPurple.py-4 Pro Techstack Kit
        p.border-t.border-neutral-200.text-fourthPurple.py-4 iMac Pro 2021 and Display
        p.border-t.border-neutral-200.text-fourthPurple.py-4 1-1 Mentoring Program
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Final Project Certificate
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Offline Course Videos
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Future Job Opportinity
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Premium Design Kit
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Website Builder
        button.bg-firstPurple.text-white.w-52.h-10.py-2.px-4.mt-4.rounded-full Take This Plan

      div.p-5.border.border-neutral-200.shadow.rounded-3xl.mb-5.mt-5.text-align-left.bg-white.self-start 
        p.text-green.font-bold.text-center BARU MULAI
        h1.text-5xl.font-bold.my-2.text-fourthPurple.text-center $140
        p.text-fourthPurple.py-4 1-1 Mentoring Program
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Final Project Certificate
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Offline Course Videos
        p.border-t.border-neutral-200.text-fourthPurple.py-4 Offline Course Videos
        button.bg-secondPurple.text-firstPurple.w-52.h-10.py-2.px-4.mt-4.rounded-full Start With This Plan
        
//- //-SPONSOR
//- div.container.mx-auto.px-4.py-12
//-   div.flex.flex-row.justify-center
//-     div.grid.grid-cols-5.gap-x-12.grayscale
//-       img(src="images/microsoftLogo.svg" width="100px")
//-       img(src="images/adobeLogo.svg" width="100px" height="100px")
//-       img(src="images/teslaLogo.svg" width="100px" height="100px")
//-       img(src="images/spotifyLogo.svg" width="100px" height="100px")
//-       img(src="images/googleLogo.svg" width="100px" height="100px")