div#business.container.mx-auto.flex.flex-col.items-center.justify-center.bg-gray-50.py-8
  p.mt-5.text-green-500.text-center.font-bold Success Student
  h1.text-2xl.font-bold.my-2.text-center We Really Love Laracamp

  div.grid.grid-cols-3.gap-4.mb-10.mt-12
    div.grid-cols-1
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4.mb-12 I was not really into code but after they teach me how to train my logic then I was really fall in love with code
        div(class="space-y-2 sm:py-4 sm:flex sm:items-left sm:space-y-0 sm:space-x-6")
          img(class="block w-12 h-12 rounded-full sm:mx-0 sm:shrink-0" src="images/profil1.png", alt="profile")
          div(class="text-center space-y-2 sm:text-left")
            div(class="space-y-0.5")
              p.text-black-500.font-semibold Fanny
              p.text-slate-500.font-medium Developer at Google

    div.grid-cols-2
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4.mb-16 Code is really important if we want to build a company and strive to win.
        div(class="mt-8 space-y-2 sm:py-4 sm:flex sm:items-left sm:space-y-0 sm:space-x-6")
          img(class="block w-12 h-12 rounded-full sm:mx-0 sm:shrink-0" src="images/profil2.png", alt="profile")
          div(class="text-center space-y-2 sm:text-left")
            div(class="space-y-0.5")
              p.text-black-500.font-semibold Angga
              p.text-slate-500.font-medium CEO at BWA Corp

    div.grid-cols-3
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4.mb-12 My background is design and art but I do really love how to make my design working in the development phase
        div(class="space-y-2 sm:py-4 sm:flex sm:items-left sm:space-y-0 sm:space-x-6")
          img(class="block w-12 h-12 rounded-full sm:mx-0 sm:shrink-0" src="images/profil3.png", alt="profile")
          div(class="text-center space-y-2 sm:text-left")
            div(class="space-y-0.5")
              p.text-black-500.font-semibold Jully
              p.text-slate-500.font-medium QA at Facebook
