div.container.mx-auto.flex.flex-col.items-center.justify-center.bg-gray-50
  p.mt-5.text-green-500.text-center.font-bold Success Student
  h1.text-2xl.font-bold.my-2.text-center We Really Love Laracamp

  div.grid.grid-cols-3.gap-4.mb-10
    div.grid-cols-1
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4 I was not really into code, but after they taught me how to train my logic, I really fell in love with coding.
        div.flex.items-center.align-bottom
          img(src="images/fanny.png", alt="rating", style="width: 30px; height: 30px;")
          p.text-black-500.font-semibold Fanny

    div.grid-cols-2
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4 Code is really important if we want to build a company and strive to win.
        div.flex.items-center.align-bottom
          img(src="images/angga.png", alt="profile", style="width: 30px; height: 30px;")
          p.text-black-500.font-semibold John Doe

    div.grid-cols-3
      div.bg-white.p-4.shadow(style="width: 287px; height: 294px;")
        img(src="images/rate.png", alt="rating")
        p.text-neutral-500.mt-4 My background is in design and art, but I really love how to make my design work in the development phase.
        div.flex.items-center.align-bottom
          img(src="images/beatrice.png", alt="profile", style="width: 30px; height: 30px;")
          p.text-black-500.font-semibold Jane Smith

