div#mentor.container.mx-auto(style="margin-top: 50px;")
  .grid.grid-cols-2
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 250px;")
          img(src="images/sec3_1.png", alt="Banner", style="width: 390px; height: 497px;")
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 150px;")
          p.text-xs.font-bold.mt-10.text-green BETTER CAREER
          br
          p
            span.text-fourthPurple.text-4xl Prepare The Journey
          br
          p
            span.text-grey.font-thin.text-xs We do really care to you students' future career  
          p
            span.text-grey.font-thin.text-xs so it would be good if you are taking a quick interview
          br
          button.bg-secondPurple.text-firstPurple.font-semibold.border-2.border-colorBorder.w-40.h-10.py-1.px-4.rounded-full Learn More


    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 250px;")
          p.text-xs.font-bold.mt-10.text-green STUDY HARDER
          br
          p
            span.text-fourthPurple.text-4xl Finish The Project
          br
          p
            span.text-grey.font-thin.text-xs Each of you will be joining the private group and also 
          p
            span.text-grey.font-thin.text-xs working together with team members on project
          br
          button.bg-secondPurple.text-firstPurple.font-semibold.border-2.border-colorBorder.w-40.h-10.py-2.px-4.rounded-full View Demo

    .col-span-1
        .container.mx-auto.mt-10
            .flex.items-left.flex-col.text-left(style="margin-left: 150px;")
                img(src="images/sec3_2.png", alt="Banner", style="width: 390px; height: 497px;")

    .col-span-1
        .container.mx-auto.mt-8
            .flex.items-left.flex-col.text-left(style="margin-left: 250px;")
                img(src="images/sec3_3.png", alt="Banner", style="width: 390px; height: 497px;")
    .col-span-1
      .container.mx-auto.mt-8
        .flex.items-left.flex-col.text-left(style="margin-left: 150px;")
          p.text-xs.font-bold.mt-10.text-green END GAME
          br
          p
            span.text-fourthPurple.text-4xl Big Demo Day
          br
          p
            span.text-grey.font-thin.text-xs Learn how to speaking in public to demonstrate your 
          p
            span.text-grey.font-thin.text-xs final project and receive the important feedbacks
          br
          button.bg-secondPurple.text-firstPurple.font-semibold.border-2.border-colorBorder.w-40.h-10.py-2.px-4.rounded-full Showcase



    