nav.top-0.flex.w-full.bg-white.px-4.py-5.shadow-sm
  div.container.mx-auto
    div.w-full.flex.flex-row-reverse
      button.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(href='/common/contentHeader')= data.username
      
div.container.mx-auto.mt-10    
  form(action="/changeContent" method="post" enctype="multipart/form-data" class='text-justify rounded-none w-2/3 mx-auto')
    h5.text-xl.font-medium.leading-normal.text-black CHANGE LANDING PAGE CONTENT
    div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
      input(class="text-black bg-transparent focus:outline-none border-none" type="text" name="title" id="title" placeholder="title")
    div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
      input(class="text-black bg-transparent focus:outline-none border-none" type="text" name="description" id="description" placeholder="Description")
    div(class="flex items-center border py-2 px-3 mt-4 rounded-xl mb-4")
      input(class="text-black bg-transparent focus:outline-none border-none" type="file" name="fileName" id="fileName" placeholder="File")
    button(type="submit" data-te-modal-dismiss="" class="block w-full bg-secondPurple mt-4 py-2 rounded-xl text-firstPurple font-semibold mb-2") SUBMIT
    