nav.top-0.flex.w-full.bg-white.px-4.py-5.shadow-sm
  div.container.mx-auto
    div.w-full.flex.flex-row-reverse
      button.bg-secondPurple.text-xs.text-firstPurple.w-28.h5.py-2.px-4.rounded-full(href='/common/contentHeader')= data.username
      
div.container.mx-auto.mt-10
  table(class='border-collapse text-justify rounded-lg shadow-md w-2/3 mx-auto')
    thead.bg-secondPurple
      tr.shadow-sm.text-xs.text-fourthPurple
        th.py-2.px-4 CLIENT / INVOICE
        th.py-2.px-4 AMOUNT
        th.py-2.px-4 ISSUED / DUE
        th.py-2.px-4 STATUS
    tbody
      tr.shadow-sm.text-xs
        td.py-2.px-4 Kepa Arrizabalaga
        td.py-2.px-4 $150,000
        td.py-2.px-4 Sept 28, 2023
        td.py-2.px-4 Paid
      tr.shadow-sm.text-xs
        td.py-2.px-4 Enzo Fernandez
        td.py-2.px-4 $250,000
        td.py-2.px-4 Sept 20, 2023
        td.py-2.px-4 Paid
      tr.shadow-sm.text-xs
        td.py-2.px-4 Christopher Nkunku
        td.py-2.px-4 $180,000
        td.py-2.px-4 Sept 20, 2023
        td.py-2.px-4 Pending
      tr.shadow-sm.text-xs
        td.py-2.px-4 Recee James
        td.py-2.px-4 $210,000
        td.py-2.px-4 Sept 24, 2023
        td.py-2.px-4 Overdue